.container-fond {
  width: auto;
}
.section-fond__symvol {
  background-color: $third-background;
  background-image: url(../images/Symvol_Viry_logo_UA_main_without_descriptor_1.png),
    url(../images/Symvol_Viry_logo_EN_inversion_without_descriptor_1.png),
    url(../images/Symvol_Viry_logo_EN_bw1_without_descriptor_2.png);
  background-size: auto;
  background-position: 0 70%, 10% 70%, 29% 70%;
  background-repeat: no-repeat;
}
.section-fond {
  @include grid-two-columns();

  margin-left: 8%;
  margin-right: 8%;
  color: $title-text-color;

  &__text {
    @include adaptiv-font(18, 12);
    padding-top: 2em;
    line-height: 1.2;
  }
}
.section-fond__chapter {
  padding-left: 5%;
  padding-bottom: 25%;
  margin-top: 30%;
}
.section-comand {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.section-spacingtitle {
  @include font-size(3px, 400, 0.4);
  @include adaptiv-font(18, 12);
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-spacingsubtitle {
  @include font-size(normal, 800, 0.4);
  @include adaptiv-font(16, 10);
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.section-comand__text {
  @include font-size(3.5px, 400, 1);
  @include adaptiv-font(16, 10);
}
.section__blok .soclinks {
  width: 50%;
  margin: auto;
}
.sectson-twocolumn {
  @include grid-two-columns();
  width: 84%;
  margin: 64px auto 0;
  padding-bottom: 90px;
}

.img-story {
  padding-top: 30px;
}
.img-story {
  width: 100%;
  padding-bottom: 30px;
}

.section-doc__list {
  @include flex();
  padding-top: 50px;
  padding-bottom: 70px;
}
.section-offer {
  @include grid-two-columns();
  justify-items: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  .container-banner__button {
    width: 238px;
  }
}
.offer.section-fond__img {
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 20%;
}
.subtitle-story {
  padding-left: 8%;
}
