$background_img: url('../svg/logo/Symvol_Viry_logo_UA_bw2_without_descriptor_1.svg');
body {
  @include font-size();
  @include adaptiv-font(16, 10);
  background: $primary-background-color;
  color: $light-text-color;
}
.text-uppercase {
  text-transform: uppercase;
}
.title-text__color {
  color: $title-text-color;
}
.opposite-text-color {
  color: $opposite-text-color;
}
.button-accent {
  color: $button-accent-color;
  fill: $button-accent-color;
}
.accent-color {
  color: $accent-color;
}
.aside-title-color {
  color: $aside-title-color;
}

.extreme {
  @include font-header();
  @include adaptiv-font(13, 4);
  max-width: 1440px;
  height: 140px;
  padding: 0;
  margin: auto;

  border-bottom: 1px solid $thin-line-color;
}
.container {
  width: 84%;
  margin: 60px auto;
  position: relative;

  &-nav {
    position: relative;
    display: flex;
    gap: 3%;
    align-items: center;
    @include breakpoint(mobile-max) {
      height: 140px;
    }
  }

  &-top {
    margin: auto;
  }
}
.container-hero {
  width: auto;
  background-color: $secondary-background-color;
}
.container-fond {
  width: auto;
}
.section-fond__symvol {
  background-color: $third-background;
  background-image: url(../images/Symvol_Viry_logo_UA_main_without_descriptor_1.png),
    url(../images/Symvol_Viry_logo_EN_inversion_without_descriptor_1.png),
    url(../images/Symvol_Viry_logo_EN_bw1_without_descriptor_2.png);
  background-size: auto;
  background-position: 0 70%, 10% 70%, 29% 70%;
  background-repeat: no-repeat;
  @include breakpoint(mobile-max) {
    margin-top: 1em;
    background-image: url(../images/Symvol_Viry_logo_UA_main_without_descriptor_1.png),
      url(../images/Symvol_Viry_logo_EN_inversion_without_descriptor_1.png);
    background-position: 0 70%, 10% 70%;
  }
  @include breakpoint(mobile-only) {
    margin-top: 1em;

    background-image: url(../images/Symvol_Viry_logo_EN_inversion_without_descriptor_1.png);
    background-position: 60% 70%;
  }
}
.section-fond {
  margin-left: 8%;
  margin-right: 8%;
  color: $title-text-color;

  &__text {
    @include adaptiv-font(18, 12);
    padding-top: 2em;
    line-height: 1.2;
  }
}
.section-fond__chapter {
  padding-left: 5%;
  padding-bottom: 25%;
  margin-top: 30%;
  @include breakpoint(mobile-max) {
    margin-top: 0;
  }
}
.section-comand {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.section-spacingtitle {
  @include font-size(3px, 400, 0.4);
  @include adaptiv-font(18, 12);
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-spacingsubtitle {
  @include font-size(normal, 800, 0.4);
  @include adaptiv-font(16, 10);
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.section-comand__text {
  @include font-size(3.5px, 400, 1);
  @include adaptiv-font(16, 10);
  text-align: justify;
}
.section__blok .soclinks {
  width: 50%;
  margin: auto;
}
.section-column {
  //   @include grid-two-columns();
  width: 84%;
  margin: 64px auto 0;
  padding-bottom: 90px;
}

.img-story {
  padding-top: 30px;
}
.img-story {
  width: 100%;
  padding-bottom: 30px;
}

.section-doc__list {
  @include flex();
  gap: 1%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.section-offer {
  justify-items: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  @include breakpoint(mobile-max) {
    width: 60%;
    padding: 50px 20px 100px 0;
  }
  @include breakpoint(mobile-only) {
    width: 90%;
  }
  .container-subtitle {
    @include breakpoint(mobile-only) {
      text-align: center;
    }
  }

  .container-banner__button {
    width: 238px;
    @include breakpoint(mobile-max) {
      margin-top: 1em;
      width: 100%;
    }
  }
}
.offer.section-fond__img {
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 20%;
}
.subtitle-story {
  padding-left: 8%;
}
.section-fond__img {
  background-image: url(../images/Symvol_Viry_logo_UA_bw2_without_descriptor_2.png);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  @include breakpoint(mobile-max) {
    background-position: 0 10em;
  }
}
.section-fond__img--fond {
  @include breakpoint(mobile-max) {
    background-size: 100%;
    background-position: bottom;
  }
}

.hero {
  height: auto;
  background: linear-gradient(
    $primary-background-color 25%,
    0%,
    $secondary-background-color 25%
  );
  padding-bottom: 3rem;
}
.clipped {
  background-image: url(../images/original_hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;

  /* -webkit-background-clip обрезает фон элемента по контуру текста */
  -webkit-text-fill-color: transparent; /* переопределяет цвет текста с белого на прозрачный в браузерах на webkit */
  -webkit-background-clip: text;
}
.two-column {
  @include grid-two-columns();
  //   align-items: center;
}
.container-banner {
  @include flex-center();
  margin: auto;
  &__title {
    @include adaptiv-font(300, 140);
    font-family: 'Anton', 'Verdana', 'Tahoma', sans-serif;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -0.141em;
    color: white;
    @include breakpoint(mobile-max) {
      margin-top: 0.18em;
      @include adaptiv-font(200, 140);
    }
    @include breakpoint(mobile-only) {
      margin-top: 0.4em;
      @include adaptiv-font(170, 105);
    }
  }
  &__subtitle {
    @include font-header(normal, 1000, 1);
    @include adaptiv-font(62, 18);
    width: 60%;
    margin: -1em auto 1em;
    text-align: center;
  }
  &__text {
    width: 60%;
    @include font-header(normal, 400, normal);
    @include adaptiv-font(24, 14);
    margin-bottom: 1em;
    text-align: center;
  }
}
.section {
  position: relative;
  @include font-size(normal, 400, normal);
  @include adaptiv-font(30, 20);
  &__list {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    @include breakpoint(mobile-max) {
      text-align: start;
    }
  }

  &__bloklist {
    @include grid-three-columns(20px, 30px);
    text-align: center;
    margin-top: 65px;
  }
  &__blok {
    text-align: justify;
    display: grid;
    border: 1px solid $thin-line-color;
    &:hover {
      box-shadow: -28px 30px 30px -24px rgba(0, 0, 0, 0.1);
    }
    .section__buttons {
      width: 100%;
    }
    .section__buttons--soclinks {
      width: auto;
    }
  }
  &__part {
    @include flex();
    flex-direction: column;
    padding-left: 19px;
    padding-right: 19px;
  }
  &__text {
    @include font-size(normal, 400, normal);
    @include adaptiv-font(18, 12);
    padding: 1em;
    text-align: justify;
  }
  &__buttons {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
  }
  &__chapter {
    text-align: justify;
    @include breakpoint(mobile-max) {
      width: 80%;
    }
    @include breakpoint(mobile-only) {
      width: auto;
    }
  }

  &__chapter p:last-of-type {
    padding-bottom: 30px;
  }
  &__gallery {
    display: flex;
    gap: 10px;
    padding-top: 70px;
  }
  &-partner {
    display: flex;
    gap: 1em;
    @include breakpoint(mobile-max) {
      flex-wrap: wrap;
    }
    &__carousel {
      border: 1px solid $thin-line-color;
      padding: 2%;
      @include breakpoint(mobile-only) {
        width: 100%;
      }
      // margin-right: 30px;
    }
  }
  &-news {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 94px;
    &__bloks {
      @include grid-three-columns();
      gap: 1em;
      padding-top: 50px;
    }

    &__blok {
      text-align: center;
      background-color: $opposite-text-color;
    }
    &__blok .img {
      padding-bottom: 15px;
    }
    &__header {
      @include font-size(normal, 800, normal);
      @include adaptiv-font(20, 14);
      border-bottom: 1px solid $thin-line-color;
      padding-bottom: 16px;
      margin-left: 27px;
      margin-right: 27px;
      time {
        @include font-size(normal, 400, normal);
        @include adaptiv-font(16, 10);
        color: $lightest-text-color;
      }
    }
    &__response {
      @include font-size(normal, 400, normal);
      @include adaptiv-font(16, 10);
      display: flex;
      justify-content: space-between;
      margin: 9px 27px 47px;
      color: $lightest-text-color;
    }
    &__footer {
      text-align: center;
      padding-bottom: 45px;
    }
    &__footer a {
      @include font-size(normal, 800, normal);
      @include adaptiv-font(18, 12);

      color: $title-text-color;
      border-bottom: 2px solid $title-text-color;
    }

    &__footer a:hover {
      color: $button-accent-color;
      border-bottom: 2px solid $button-accent-color;
    }
  }
  &__item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $thin-line-color;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  &__item:last-child {
    @include breakpoint(mobile-max) {
      border-bottom: 1px solid $thin-line-color;
      padding-bottom: 2em;
    }
  }
  &__item:nth-child(n + 5) {
    @include breakpoint(tablet) {
      border-bottom: 1px solid $thin-line-color;
      padding-bottom: 2em;
    }
  }
  &-question {
    display: flex;
    flex-direction: column;
    //  &__item {
    //    display: flex;
    //    justify-content: space-between;
    //    border-bottom: 1px solid $thin-line-color;
    //    padding-top: 50px;
    //    padding-bottom: 50px;
    //    align-items: center;
    //  }
    //  &__item:hover,
    //  &__item:focus-within {
    //    color: $button-accent-color;
    //    fill: $button-accent-color;
    //  }
    &__img {
      background-image: url(../images/Symvol_Viry_logo_EN_main_without_descriptor_1.png);
      background-size: contain;
      background-position: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  &-social {
    padding-bottom: 34px;
  }
  &-social .container-subtitle {
    margin-left: 10%;
    padding-bottom: 30px;
  }
  &-social .link {
    margin-left: 10%;
    padding-top: 30px;
  }
}
.container-fond .section__chapter:last-child {
  @include breakpoint(mobile-max) {
    width: 60%;
    margin-left: auto;
  }
  @include breakpoint(mobile-only) {
    width: auto;
    margin-left: 0;
  }
}

.invisible {
  @include breakpoint(mobile-max) {
    display: none;
  }
}

.box1 {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  align-items: flex-end;
}
.box3 {
  padding-top: 10px;
}

.section__item:hover,
.section__item:focus-within {
  color: $button-accent-color;
  fill: $button-accent-color;
}
.container-subtitle {
  @include font-size(normal, 800, normal);
  @include adaptiv-font(58, 24);
  text-align: left;
  padding-top: 50px;
}

.accent {
  @include font-size(normal, 800, normal);
  @include adaptiv-font(40, 24);
}
.rect {
  background: $rectangle-background-color;
  height: 20px;
  width: 90%;
  z-index: -2;
}
.link {
  display: flex;
  align-items: center;
  &-text {
    @include font-size(normal, 800, normal);
    @include adaptiv-font(18, 12);
  }
}
.link-project {
  justify-content: center;
}
.link:hover,
.link:focus-within {
  color: $button-accent-color;
  fill: $button-accent-color;
}
.sectionaccent {
  margin-left: 10%;
  padding-bottom: 45px;
}
.sectionaccent .section__text {
  @include adaptiv-font(14, 8);
  line-height: 2;
}

.achievement {
  @include font-size(normal, 400, normal);
  @include adaptiv-font(40, 20);
}
table {
  width: 100%;
  margin-top: 40px;
}
td {
  width: 50%;
  border-bottom: 1px solid $thin-line-color;
  padding-top: 40px;
  padding-bottom: 40px;
}
td .accent {
  @include adaptiv-font(70, 20);
}
td:nth-child(even) {
  padding-left: 10%;
}
footer.extreme {
  border-top: 1px solid $thin-line-color;
  border-bottom: none;
}
.project-five.section__gallery {
  padding-top: 14%;
}

.progress-fundraising {
  padding-top: 50px;

  .section__text {
    line-height: 40px;
  }
  &__list {
    @include adaptiv-font(18, 10);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    border-bottom: 1px solid $thin-line-color;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
  &__item .soclinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.5em;
    width: 20%;
  }

  &__rect {
    display: flex;
    gap: 5%;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: center;
  }
}
.report-subtitle {
  margin-top: 40px;
  padding-bottom: 15px;
}
.report.section-question__item {
  border-top: 1px solid $thin-line-color;
}
.report-gallery {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.report-title {
  padding-bottom: 50px;
}
.report-item {
  display: flex;
  align-items: center;
  gap: 2%;
}
aside {
  @include adaptiv-font(18, 12);
  .section__blok {
    margin-top: 1em;
  }

  .section-fond__text {
    padding: 1em;
  }
}
.aside-details {
  padding: 0 1em 1em;
}
.main-wrapper {
  display: flex;
  gap: 2%;
  margin-top: 40px;
}
.news-time {
  padding-top: 25px;
}
.news-gallery {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pagination-nav {
  display: flex;
  gap: 3%;
  margin-top: 100px;
  margin-bottom: 30px;

  &__link {
    color: $text-header-color;
    display: inline-flex;
    align-items: center;
    gap: 2%;
  }
  &__link:hover {
    color: $accent-color;
  }
  &__item {
    display: flex;
    flex: 1 50%;
    max-width: 50%;
  }
  &__item--previous {
    text-align: right;
  }
}
.section-doc__list--contacts {
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1em;
  padding-bottom: 1em;
  gap: 5%;
  display: flex;
}
.contacts .section-fond__text {
  line-height: 2;
}
.two-column__contacts {
  align-items: start;
}
