$background_img: url('../svg/logo/Symvol_Viry_logo_UA_bw2_without_descriptor_1.svg');
body {
  @include font-size();
  @include adaptiv-font(16, 10);
  background: $primary-background-color;
  color: $light-text-color;
}
.text-uppercase {
  text-transform: uppercase;
}
.title-text-color {
  color: $title-text-color;
}
.opposite-text-color {
  color: $opposite-text-color;
}
.button-accent {
  color: $button-accent-color;
}
.accent-color {
  color: $accent-color;
}
.aside-title-color {
	color: $aside-title-color;
}

.extreme {
  @include font-header();
  @include adaptiv-font(13, 4);
  max-width: 1440px;
  height: 140px;
  padding: 0;
  margin: auto;

  border-bottom: 1px solid $thin-line-color;
}
.container {
  position: relative;
  // @include indent(0 auto 0 auto, $p: 0 15px 0 15px);
  width: 84%;
  margin: 60px auto;
  &-top {
    margin: auto;
  }
}
.container-hero {
  width: auto;
  background-color: $secondary-background-color;
}
.container-fond {
	width: auto;
 }
 .section-fond__symvol {
	background-color: $third-background;
	background-image: url(../images/Symvol_Viry_logo_UA_main_without_descriptor_1.png),
	  url(../images/Symvol_Viry_logo_EN_inversion_without_descriptor_1.png),
	  url(../images/Symvol_Viry_logo_EN_bw1_without_descriptor_2.png);
	background-size: auto;
	background-position: 0 70%, 10% 70%, 29% 70%;
	background-repeat: no-repeat;
 }
 .section-fond {
	margin-left: 8%;
	margin-right: 8%;
	color: $title-text-color;
 
	&__text {
	  @include adaptiv-font(18, 12);
	  padding-top: 2em;
	  line-height: 1.2;
	}
 }
 .section-fond__chapter {
	padding-left: 5%;
	padding-bottom: 25%;
	margin-top: 30%;
 }
 .section-comand {
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
 }
 .section-spacingtitle {
	@include font-size(3px, 400, 0.4);
	@include adaptiv-font(18, 12);
	padding-top: 20px;
	padding-bottom: 20px;
 }
 .section-spacingsubtitle {
	@include font-size(normal, 800, 0.4);
	@include adaptiv-font(16, 10);
	letter-spacing: 1px;
	padding-bottom: 20px;
 }
 .section-comand__text {
	@include font-size(3.5px, 400, 1);
	@include adaptiv-font(16, 10);
 }
 .section__blok .soclinks {
	width: 50%;
	margin: auto;
 }
 .section-column {
	//   @include grid-two-columns();
	width: 84%;
	margin: 64px auto 0;
	padding-bottom: 90px;
 }
 
 .img-story {
	padding-top: 30px;
 }
 .img-story {
	width: 100%;
	padding-bottom: 30px;
 }
 
 .section-doc__list {
	@include flex();
	padding-top: 50px;
	padding-bottom: 70px;
 }
 .section-offer {
	//   @include grid-two-columns();
	justify-items: center;
	align-items: center;
	width: 80%;
	margin-left: auto;
	padding-top: 50px;
	padding-bottom: 100px;
 
	.container-banner__button {
	  width: 238px;
	}
 }
 .offer.section-fond__img {
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 20%;
 }
 .subtitle-story {
	padding-left: 8%;
 }
.section-fond__img {
  background-image: url(../images/Symvol_Viry_logo_UA_bw2_without_descriptor_2.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.hero {
  height: auto;
  background: linear-gradient(
    $primary-background-color 25%,
    0%,
    $secondary-background-color 25%
  );
  padding-bottom: 50px;
}
.clipped {
  background-image: url(../images/original_hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;

  /* -webkit-background-clip обрезает фон элемента по контуру текста */
  -webkit-text-fill-color: transparent; /* переопределяет цвет текста с белого на прозрачный в браузерах на webkit */
  -webkit-background-clip: text;
}
.two-column {
  @include grid-two-columns();
  align-items: center;
}
.container-banner {
  @include flex-center();
  //   width: 1200px;
  margin: auto;
  &__title {
    @include adaptiv-font(300, 140);
    font-family: 'Anton', 'Verdana', 'Tahoma', sans-serif;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -0.141em;
    color: white;
    @media (max-width: 767px) {
      margin-top: -20px;
    }
  }
  &__subtitle {
    @include font-header(normal, 1000, 1);
    @include adaptiv-font(62, 18);
    width: 60%;
    margin: -60px 30px 20px;
    text-align: center;
  }
  &__text {
    @include font-header(normal, 400, normal);
    @include adaptiv-font(24, 14);
    //  color: $opposite-text-color;
    margin-bottom: 30px;
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .container-banner__buttons {
    width: 40%;
  }
}
.section {
  position: relative;
  @include font-size(normal, 400, normal);
  @include adaptiv-font(30, 20);
  //   margin-left: 8%;
  //   margin-right: 8%;
  //   color: $title-text-color;

  &__list {
    text-align: center;
    padding-top: 60px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $thin-line-color;
    padding-top: 50px;
  }
  &__item:nth-child(n + 5) {
    border-bottom: 1px solid $thin-line-color;
    padding-bottom: 50px;
  }
  &__bloklist {
    @include grid-three-columns(20px, 30px);
    text-align: center;
    margin-top: 65px;
  }
  &__blok {
	  text-align: justify;
    display: flex;
    flex-direction: column;
    border: 1px solid $thin-line-color;
    // box-shadow: -28px 30px 30px -24px rgba(0, 0, 0, 0.1);
    &:hover {
      box-shadow: -28px 30px 30px -24px rgba(0, 0, 0, 0.1);
    }
  }
  &__part {
    @include flex();
    //  display: flex;
    flex-direction: column;
    //  justify-content: space-between;
    //  align-items: center;
    padding-left: 19px;
    padding-right: 19px;
  }
  &__text {
    @include font-size(normal, 400, normal);
    @include adaptiv-font(18, 12);
    padding-top: 15px;
    padding-bottom: 15px;
	 text-align: justify;
    //  color: $light-text-color;
  }
  //   &__chapter .section__text {
  //     color: $opposite-text-color;
  //   }
  &__buttons {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__chapter p:last-of-type {
    padding-bottom: 30px;
  }
  &__gallery {
    display: flex;
    gap: 10px;
    padding-top: 70px;
  }
  &-partner {
    display: flex;
    gap: 20px;
    &__carousel {
      border: 1px solid $thin-line-color;
      padding: 2%;
      margin-right: 30px;
      // @media (max-width: 767px) {
      // 	padding: 10px;
      // }
    }
  }
  &-news {
    //  color: $opposite-text-color;

    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 94px;
    &__bloks {
      @include grid-three-columns();
      padding-top: 50px;
    }

    &__blok {
      text-align: center;
      background-color: $opposite-text-color;
      // color: $light-text-color;
      // padding-bottom: 45px;
    }
    &__blok .img {
      padding-bottom: 15px;
    }
    &__header {
      // text-align: center;
      @include font-size(normal, 800, normal);
      @include adaptiv-font(20, 14);
      border-bottom: 1px solid $thin-line-color;
      padding-bottom: 16px;
      margin-left: 27px;
      margin-right: 27px;
      time {
        @include font-size(normal, 400, normal);
        @include adaptiv-font(16, 10);
        color: $lightest-text-color;
      }
    }
    &__response {
      @include font-size(normal, 400, normal);
      @include adaptiv-font(16, 10);
      display: flex;
      justify-content: space-between;
      margin: 9px 27px 47px;
      color: $lightest-text-color;
    }
	 &__footer {
		text-align: center;
		padding-bottom: 45px;
	 }
    &__footer a {
      @include font-size(normal, 800, normal);
      @include adaptiv-font(18, 12);
		
      color: $title-text-color;
      border-bottom: 2px solid $title-text-color;
    }

    &__footer a:hover {
      color: $button-accent-color;
      border-bottom: 2px solid $button-accent-color;
    }
  }

  &-question {
    display: flex;
    flex-direction: column;
    &__item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $thin-line-color;
      padding-top: 50px;
      padding-bottom: 50px;
		align-items: center;
    }
    &__item:hover,
    &__item:focus-within {
      color: $button-accent-color;
      fill: $button-accent-color;
    }
    &__img {
      background-image: url(../images/Symvol_Viry_logo_EN_main_without_descriptor_1.png);
      background-size: contain;
      background-position: 100% 100%;
      background-repeat: no-repeat;
      // text-align: center;
    }
  }
  &-social {
    // color: #ffffff;
    padding-bottom: 34px;
  }
  &-social .container-subtitle {
    margin-left: 10%;
    padding-bottom: 30px;
  }
  &-social .link {
    margin-left: 10%;
    padding-top: 30px;
  }
}

.box1 {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  align-items: flex-end;
}
.box3 {
  padding-top: 10px;
}

.section__item:hover,
.section__item:focus-within {
  color: $button-accent-color;
  fill: $button-accent-color;
}
.container-subtitle {
  @include font-size(normal, 800, normal);
  @include adaptiv-font(58, 24);
  text-align: left;
  padding-top: 50px;
}
.accent {
  @include font-size(normal, 800, normal);
  @include adaptiv-font(40, 24);
}
.rect {
  background: $rectangle-background-color;
  height: 20px;
  width: 90%;
  //   padding-left: 20%;
  z-index: -2;
}
.link {
  display: flex;
  align-items: center;
  &-text {
    @include font-size(normal, 800, normal);
    @include adaptiv-font(18, 12);
  }
}
.link-project {
  justify-content: center;
}
.link:hover,
.link:focus-within {
  color: $button-accent-color;
  fill: $button-accent-color;
}
.sectionaccent {
  margin-left: 10%;
  padding-bottom: 45px;
}
.sectionaccent .section__text {
  @include adaptiv-font(14, 8);
  line-height: 2;
}

.achievement {
  @include font-size(normal, 400, normal);
  @include adaptiv-font(40, 20);
}
table {
  width: 100%;
  margin-top: 40px;
}
td {
  width: 50%;
  border-bottom: 1px solid $thin-line-color;
  padding-top: 40px;
  padding-bottom: 40px;
}
td .accent {
  @include adaptiv-font(70, 20);
}
td:nth-child(even) {
  padding-left: 10%;
}
footer.extreme {
  border-top: 1px solid $thin-line-color;
  border-bottom: none;
}
.project-five.section__gallery {
  padding-top: 14%;
}
.progress-title {
  display: none;
}

.progress-fundraising {
  padding-top: 50px;

  .section__text {
    line-height: 40px;
  }
  &__list {
    @include adaptiv-font(18, 10);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    border-bottom: 1px solid $thin-line-color;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
  &__item .soclinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.5em;
    width: 20%;
  }

  &__rect {
    display: flex;
    gap: 5%;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: center;
  }
}
.report-subtitle {
	margin-top: 40px;
	padding-bottom: 15px;
}
.report.section-question__item {
	border-top: 1px solid $thin-line-color;
}
.report-gallery {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
	
}
.report-title {
	padding-bottom: 50px;
}
.report-item {
	display: flex;
	align-items: center;
	gap: 2%;
}
aside {
	@include adaptiv-font(18, 12);
	.section__blok	{
margin-top: 1em;
	}

.section-fond__text {
		padding: 1em;
	}
}
.aside-details {
	
	padding: 0 1em 1em;
}
.main-wrapper {
	display: flex;
	gap: 2%;
	margin-top: 40px;
}
.news-time {
	padding-top: 25px;
	
}
.news-gallery {
	padding-top: 40px;
	padding-bottom: 40px;
}
.pagination-nav {
	display: flex;
	gap: 3%;
	margin-top: 100px;
	margin-bottom: 30px;

    &__link {
		color: $text-header-color;
		display: inline-flex;
		align-items: center;
		gap: 2%;
	 }
	 &__link:hover {
color: $accent-color;
	 }
	 &__item {
	display: flex;
    flex: 1 50%;
    max-width: 50%;
}
&__item--previous {
	text-align: right;
}
}

