.button-color {
  color: $button-accent-color;
  background-color: $button-color;
  border: 1px solid $button-accent-color;
}
.button-accent-color {
  color: $opposite-text-color;
  background-color: $button-accent-color;
  border: 1px solid $button-accent-color;
}
button {
  @include font-header(0.03em, 800, normal);
  @include adaptiv-font(20, 10);
}
.extreme__button {
  max-width: 200px;
  height: 60px;
}
.container-banner__button {
  width: 270px;
  height: 60px;
}
.button-accent-color:hover,
.button-accent-color:focus {
  color: $button-accent-color;
  background-color: $button-color;
  border: 1px solid $button-accent-color;
}

.extreme__button:hover,
.extreme__button:focus {
  color: $opposite-text-color;
  background-color: $button-accent-color;
  transition-duration: 1s;
}
.section__button {
  @include adaptiv-font(18, 12);
  width: 160px;
  height: 60px;
}

.section__link {
  @include adaptiv-font(18, 12);
  border: $button-color;
  padding-bottom: 2px;
  letter-spacing: 0.1em;
  transition: text-shadow 0.3s;
}

.section__link:hover,
.section__link:focus {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
  color: $accent-color;
  border-bottom: 3px solid $accent-color;
  padding-bottom: 2px;
  transition-duration: 1s;
}

.cheveron__button {
  width: auto;
  background-color: $button-color;
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cheveron__icon:hover,
.cheveron__icon:focus {
  fill: $accent-color;
  transition-duration: 1s;
}

.cheveron__buttonright {
  display: flex;
  //   width: auto;
  background-color: $button-color;
  border: none;
}
button.title-text-color:hover {
  color: $button-accent-color;
  fill: $button-accent-color;
}
// .cheveron__buttonright :hover {
//   color: $button-accent-color;

// }
.modal__button {
  width: 309px;
  height: 60px;
  margin-top: 40px;
}
