.container .flexnav {
  height: 140px;
  display: grid;
  grid-template-columns: 4fr 1.5fr 1fr 0.2fr;
  grid-column-gap: 2em;
  align-items: center;
}
.logo__symvolviry {
  font-size: 12px;
  width: 12em;
}
.menu-nav {
  height: 140px;
  display: grid;
  font-size: 13px;
  grid-template-columns: 4fr 1.5fr 1fr 0.2fr;
  grid-column-gap: 2em;
  align-items: center;
  @include breakpoint(mobile-max) {
    position: absolute;
    display: none;
    width: 70%;
    height: auto;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-top: 1px solid #ececec;
    background-color: #fff;
    z-index: 1;

    &.is-open {
      display: block;
    }
  }
  .text-uppercase {
    margin-bottom: 1rem;
  }
}
.main-menu {
  display: flex;
  gap: 1em;
  align-items: center;
  @include breakpoint(mobile-max) {
    display: inline;
  }

  &__focused {
    color: $text-header-color;
    display: inline-flex;
    transition: text-shadow 0.3s;
  }

  &__focused--current {
    position: relative;
    transition: color $time $time-function;
  }

  &__focused--current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: $accent-color;
    border-radius: 2px;
    top: 20px;
  }
  &__focused--current,
  &__focused:hover,
  &__focused:focus {
    text-shadow: 0 0 0.65px #058ed0, 0 0 0.65px #058ed0;
    //  border-bottom: 1px solid $accent-color;
    //  padding-bottom: 2px;
    transition-duration: 1s;
  }
}

.soclinks {
  width: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5em;
  grid-row-gap: 2em;
  text-align: center;
  @include breakpoint(mobile-max) {
    width: auto;
  }
}

// footer .soclinks {
// 	display: flex;
// }
.soclink__icon:hover,
.soclink__icon:focus {
  fill: $accent-color;
  transition-duration: 1s;
}
.soclink__icon use {
  @media (max-width: 767px) {
    width: 20px;
    height: 20px;
  }
}
.text-bold {
  @include font-header(0.03em, 800, normal);
  @include adaptiv-font(16, 10);
}

.leng {
  text-align: center;
}
