// color
$primary-text-color: #000000;
$primary-background-color: #ffffff;
$opposite-text-color: #ffffff;
$secondary-background-color: #058ed0;
$third-background: #e5e5e5;
$modal-background: rgba(0, 0, 0, 0.7);
$accent-color: #058ed0;
$accent-translucent-color: rgba(5, 142, 208, 0.3);
$button-color: rgba(0, 0, 0, 0);
$button-accent-color: #f59907;
$title-text-color: #272727;
$light-text-color: #333333;
$thin-line-color: #e9e9e9;
$text-header-color: #5c5555;
$rectangle-background-color: #f2f2f2;
$lightest-text-color: #444444;
$aside-title-color: #4f4f4f;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;

//   $background-footer-color: #2f303a;
//   $color-studio: #000;
//   $secondary-background: #f5f4fa;
//   $subtitle-text-color: #757575;

//   $sprite-color: #afb1b8;
//   $border-color: #eeeeee;
//   $color-form-input: rgba(255, 255, 255, 0.6);
//   $color-contact-link: rgba(255, 255, 255, 0.6);
//   $color-border-input: rgba(255, 255, 255, 0.3);
//   $background-soclink: rgba(255, 255, 255, 0.1);

//   // shadow
//   $shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12),
//   0px 1px 1px rgba(0, 0, 0, 0.14),
//   0px 2px 1px rgba(0, 0, 0, 0.2);
//   $shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
//   0px 4px 4px rgba(0, 0, 0, 0.06),
//   1px 4px 6px rgba(0, 0, 0, 0.16);
//   $shadow-button: 0px 3px 1px rgba(0, 0, 0, 0.1),
//   0px 1px 2px rgba(0, 0, 0, 0.08),
//   0px 2px 2px rgba(0, 0, 0, 0.12);
//   $shadow-button-modal: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   // time
//   $time-function: cubic-bezier(0.4, 0, 0.2, 1);
//   $time: 250ms;
//   // gradient
//   $linear-gradient: (to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))
